<div class="">
  <div class="container">
    <img src="../assets/images/Categories/logo1.png">
  </div>
  <!-----Navigation Starts Here-->
  
  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/design" >Price List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/design">Book a Pickup</a>
        </li>
        <li class="nav-item poi">
          <a class="nav-link" routerLink="/associate">Associates</a>
        </li>
        <li class="nav-item poi">
            <a class="nav-link" routerLink="/design"> My Account</a>
        </li>
       
       <li class="nav-item poi">
          <a class="nav-link">Help</a>
     </li>
     <li class="nav-item poi">
          <a class="nav-link rotate" ><i class="fa fa-phone"></i></a>
      </li>
      </ul>
    
    </div>
  </nav>
<!-----Background image-->


<div class="position-relative">
     
        <img class="img-fluid" src="../../assets/pngs/landnew.jpg" alt="Chania">
    
     <div class="position-absolute state3">
        <button class="btn btn-outline-secondary pad">
          <a routerLink="/design" style="color:white;text-decoration: none;">Login</a></button> 
    </div>
     <div class="position-absolute state4"> <button class="btn btn-outline-secondary pad">
            <a routerLink="/signup" style="color:white;text-decoration: none;">Signup</a></button>
     </div>
</div>
<!----Blocks of data --------------------->
<div class="">
    <div class="text-center">
        <p style="padding: 10px 0 0 0"> Read about recycling process </p>
        <h1 class="head">WHAT AND HOW TO RECYCLE</h1>
    </div>
  <div class="container  space">
      <div class="card col-md-3 align">
          <img class="card-img-top rounded-circle " src="../../assets/newimg/2.png" alt="Card image" class="img-css">
          <span style="font-size:24px;padding: 0 0 0 70px;"> Recycling</span>
        </div>
        <div class="card col-md-3 align">
            <img class="card-img-top rounded-circle " src="../../assets/newimg/3.png"  alt="Card image" class="img-css">
            <span style="font-size:24px;padding: 0 0 0 70px;"> Recycling</span>
          </div>
          <div class="card col-md-3 align">
              <img class="card-img-top rounded-circle " src="../../assets/newimg/4.png" alt="Card image" class="img-css">
              <span style="font-size:24px;padding: 0 0 0 70px;"> Recycling</span>
              
            </div>
            <div class="card col-md-3 align" id="card">
                <img class="card-img-top rounded-circle " src="../../assets/newimg/5.png" alt="Card image" class="img-css">
                <span style="font-size:24px;padding: 0 0 0 70px;"> Recycling</span>
              </div>
              <div class="card col-md-3 align" id="card">
                  <img class="card-img-top rounded-circle " src="../../assets/newimg/6.png" alt="Card image" class="img-css">
                  <span style="font-size:24px;padding: 0 0 0 70px;"> Recycling</span>
           </div>
      </div>
  
    </div>

  <!------------ after blocks  --------------------------->


  <div class="text text-center" style="background:black;padding: 20px;">
    <h1 style="color:white;">A New <span style="color:#00a457;"> IDEA</span></h1>
    <P style="color:white;font-size: 24px;"> How and Why Reboxit</P>
    
  </div>
 <div class="container1">
    <div class="triangle-down"></div>
 </div>

  <!------------- hand & content ------------------------->


  <div class="" style="width:100%;padding:50px 0;">
     
    <div class="" style="width:18%;display: inline-block;float:right;border:none;">
      <img src="../../assets/newimg/7.png" alt="hand" class="img-thumbnail"  style=" padding:0px;border: none;" width="150px" height="150px">
    </div>
    <div class="" style="width:80%;padding: 0 0 0 130px;" >
        <p class="hand1" >  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 
          'Content here, content here', making it look like readable English.
              
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search f</p>
    </div>
    
  </div>

  <!-------------hands images-------------->

  <div class="" style="padding:0 0 10px 0">
    
  <img src="../../assets/imgs/hands.png" alt="hand"class="img-fluid" style="border:none;">
  </div>

  <!----------------van------------------->
  
    <div class="position-relative">
            
            <img class="img-fluid"src="../../assets/newimg/9.png" alt="Chania">
 
       <div class="position-absolute state1">
         <button class="btn btn-outline-secondary pad1" style="border:2px solid white;border-radius:60px;">
           <span>
             <h1 class="book" style="text-decoration: none;" >
              <a routerLink="/design" style="color:white;text-decoration:none;">Book a pickup</a>
            </h1></span> </button>
      </div>
    </div>

    <!----------------footer----------------->

    <footer class="section footer-classic context-dark bg-image bg" style="background: #f0f0f0;padding: 20px;" >
        <div class="container">
          <div class="row row-30">
            <div class="col-md-3 ">
                <div class="col-md-5 col-xl-12 foot">
                   <span >Associates</span><br>
              
                  <div class="">
                      <span class="size">Scrap Dealer</span><br>
                    <span class="size">Aggregator</span><br>
                    <span class="size">Recycler</span>
                  </div>
                     
                  </div>
            </div>
        
            <div class="col-sm-3 ">
              <div class="col-md-5 col-xl-12 foot">
                  <span >Service</span><br>
                  <span class="size">Home</span><br>
                  <span class="size">Shop/Mall</span><br>
                  <span class="size">Institutions</span><br>
                  <span class="size">Banks</span><br>
                  <span class="size">Corporate Office</span><br>
                  <span class="size">Other Business</span><br>
                   
                </div>
          </div>

          
            <div class="col-md-3 col-xl-4">
              
              <ul class="nav-list list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">FAQ's</a></li>
               
              </ul>
            </div>
          </div>
          <div class="row" style="padding:20px 0 0 0;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="nav-list list">
                    <li class="pi"><a href="#" style="text-decoration: none;"> <i class="fab fa-instagram"></i></a></li>
                    <li class="pi"class="pi"><a href="#" style="text-decoration: none;"><i class="fab fa-facebook-square"></i></a></li>
                    <li class=""><a href="#" style="text-decoration: none;"> <i class="fab fa-linkedin-in"></i></a></li>
                    <li class=""><a href="">Follow Us</a></li>
                   
                  </ul>
            </div>
            <div class="col-md-4"></div>
                
            
           
          </div>
        </div>
</footer>
</div>