<div class="">

  <div class="container">
    <a routerLink="/landing"> <img src="../assets/images/Categories/logo1.png"></a>
  
 </div>
    <!-----Navigation Starts Here-->
  
    <nav class="navbar navbar-expand-sm navbar-light bg1">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item poi">
                <a class="nav-link" routerLink="/pricelist">Price List <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item  poi">
                  <a class="nav-link" routerLink="/myaccount" >My Account</a>
             </li>
               <li class="nav-item  poi">
                    <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i>{{cm}}</a>
               </li>
             <li class="nav-item  poi">
                <a class="nav-link" >Help</a>
           </li>
           <li class="nav-item  poi">
              <a class="nav-link" routerLink="/design" >Logout</a>
         </li>
           <li class="nav-item  poi">
                <a class="nav-link" ><i class="fas fa-phone"></i></a>
            </li>
        </ul>
      </div>
    </nav>
  
    <div class="">
      <h4 class="text-center">{{title}}</h4>
    </div>
  <!----sub collection starts -->
  
   
<div class="row text-center">
  <div *ngFor="let m of subcats" class="col-sm-6 p-tb-4" >

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-6">Estimated Kg</div>
      <div class="col-sm-2">Estimated Price</div>
    </div>
    <div class ="row">
      <div class="col-sm-2">
        <img src="{{m[3]}}" class="img-responsive border border-primary" width="100%">
      </div>

      <div class="col-sm-2">
          {{m[0]}}
      </div>

      <div class="col-sm-6">
          <b class="col-sm-4 bg-info" (click)="increaseValue(m)">+</b><input type="number" class="col-sm-4" value={{m[2]}} [(ngModel)]="m[2]"> <b class="col-sm-4 bg-danger" (click)="decreaseValue(m)">-</b>
      </div>

      <div class="col-sm-2">
        {{m[1]*m[2]}}
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="text-center" style="padding:20px 0 0 0;">
    <button class="btn btn-success" (click)="proceedToCart()">Proceed</button>
  </div>

  <div class="text-center" style="padding:20px 0 0 0;">
      <button (click)="addMore()">Add More</button>
  </div>