/* logo && navigation*/
.main-height {height: 100%;}
.bg{
    background: url("../../assets/login/signup.jpg") no-repeat bottom right ;
    width: 100%;
     height: calc(100% - 118px);
     height: -webkit-calc(100% - 118px);
     background-size: cover;

    }
    .bg1{
        background: #3d882f;
    }

.drag ul li a{
        color:white;
        font-size: 14px;
        padding: 0 15px;

}
.drag ul li:hover{background: #32CD32;}
.poi{
    cursor:pointer;
}
#input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    
}
.gg{
    padding: 10px 17px;
}
.tag li {
   display: inline-block;
}

.navcl li a{
    color: white;
}
#size{
    font-size:18px;
}
#secc{
    display: inline-block;width: 60%;
}
.cat{
  color:orange;
}

/* medial queries */

