/* logo && navigation*/

    .bg1{
        background: #3d882f;
    }

.drag ul li a{
        color:white;
        font-size: 16px;
        padding: 0 30px;
}

.rotate {
  transform: rotate(100deg);
}

.poi{
    cursor: pointer;
}

/* Cards align*/

.align{
    width:150px;
    height: 150px;

}

.row{
  align-content: center;

}

.table{

}
/* .btn{
  margin-right: 20%;
}
span{
  margin-right: 20%;
} */
