<div class="main-height">
  <div class="container">
      <a routerLink="/landing"> <img src="../assets/images/Categories/logo1.png"></a>
    
   </div>
  <!-----Navigation Starts Here-------------------->
      
  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
          <li class="nav-item poi">
              <a class="nav-link" routerLink="/pricelist">Price List <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  poi">
                <a class="nav-link" routerLink="/myaccount" >My Account</a>
           </li>
             <li class="nav-item  poi">
                  <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
             </li>
           <li class="nav-item  poi">
              <a class="nav-link" >Help</a>
         </li>
         <li class="nav-item  poi">
            <a class="nav-link" routerLink="/design" >Logout</a>
       </li>
         <li class="nav-item  poi">
              <a class="nav-link rotate" ><i class="fas fa-phone"></i></a>
          </li>
      </ul>
    </div>
  </nav>


  <!--------My account starts-->

<div class="row">
<!-------profile----------------------->

  <div class="col-md-3">
    <div class="container">
        <i class="far fa-user-circle" style="font-size:100px;padding: 20px 0 0 0"></i>
        <div class="" style="padding:20px 0 0 0;">
            <h3> Profile</h3>
            <div class="card" style="width: 12rem;">
              <div class="card-body" style="padding: 0 20px">
                 <div class="card-text"> 
                    
                    <p>Name:Vamsi</p>
                    <p>Email:vamsi@swio.in</p>
                    <p>Phone:9595956352</p>
                    <p>MyOrders</p>
                 </div>
              </div>
           </div>
        </div>
      
      </div>
  </div>

<!------My Orders---------------------->

  <div class="col-md-3">
    <div class="" style="padding:20px 0 0 0;">
      <h3 class="text-center">MyOrders</h3>
      <div class="" style="padding:20px 0 0 0;">
          <h6> Current Requests :</h6>
          <div class="card" style="width: 12rem;">
            <div class="card-body" style="padding: 0 20px">
               <div class="card-text"> 
                  
                  <p>date:16/12/2019</p>
                  <p>Category: plastic</p>
            
               </div>
            </div>
         </div>
      </div>
      <div class="" style="padding:20px 0 0 0;">
          <h6> Previous Requests :</h6>
          <div class="card" style="width: 12rem;">
            <div class="card-body" style="padding: 0 20px">
               <div class="card-text" style=""> 
                  
                  <p>date:16/12/2019</p>
                  <p>Category: plastic</p>
                  <p>Estimated kg: 25</p>
                  <p>Estimated kg: 250</p>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>

<!----Certificates-->
 <div class="col-md-5">
   <div class="" style="padding:20px 0 0 0;">
     <h3 class="text-center">Certifications</h3>
     <div class="" style="padding:52px 0px 0 47px;">
        
        <div class="card" style="width: 22rem;">
          <div class="card-body" style="padding: 0px 20px">
             <div class="card-text"> 
                
                <p>date:16/12/2019</p>
                <p>Category: plastic</p>
                <p>Estimated kg: 25</p>
                <p>Estimated kg: 250</p>
             </div>
          </div>
       </div>
    </div>
     
   </div>
 </div>

</div>
</div>