<div class="">

  <div class="container">
    <a routerLink="/landing"> <img src="../assets/images/Categories/logo1.png"></a>
    
 </div>
    <!-----Navigation Starts Here-->
  
    <nav class="navbar navbar-expand-sm navbar-light bg1">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item poi">
                <a class="nav-link" routerLink="/pricelist">Price List <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item  poi">
                  <a class="nav-link" routerLink="/myaccount" >My Account</a>
             </li>
               <li class="nav-item  poi">
                    <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
               </li>
             <li class="nav-item  poi">
                <a class="nav-link" >Help</a>
           </li>
           <li class="nav-item  poi">
              <a class="nav-link" routerLink="/design" >Logout</a>
         </li>
           <li class="nav-item  poi">
                <a class="nav-link" ><i class="fas fa-phone"></i></a>
            </li>
        </ul>
      </div>
    </nav>
  
    <!---Collections-------------------->
    <!-- <div class="category">
      <ul>
        <li><a routerLink=""><img src="../../assets/png/Categories/1.png" alt="1.png" class="img-thumbnail" width="180" height="150"></a><p><b>Plastic</b></p></li>
        <li><a routerLink=""><img src="../../assets/png/Categories/2.png" alt="2.png" class="img-thumbnail" width="180" height="150"></a><p><b>Glass</b></p></li>
        <li><a routerLink=""><img src="../../assets/png/Categories/3.png" alt="3.png" class="img-thumbnail" width="180" height="150"></a><p><b>Iron</b></p></li>
        <li><a routerLink=""><img src="../../assets/png/Categories/4.png" alt="3.png" class="img-thumbnail" width="180" height="150"></a><p><b>Paper</b></p></li>
        <li><a routerLink=""><img src="../../assets/png/Categories/5.png" alt="3.png" class="img-thumbnail" width="180" height="150"></a><p><b>E-Waste</b></p></li>
      </ul>
    </div> -->
    <!------Collections-->

    <div class="text-center">
      <h3>Collections</h3>
    </div>
    <div class="card-deck" style="padding:50px;">
      <div class="card">
        <img class="card-img-top align" src="../../assets/png/Categories/1.png" alt="Card image cap">
         <div class="card-body">
         <h5 class="text-center"> plastic</h5>
         </div>
    </div>
    <div class="card">
      <img class="card-img-top align" src="../../assets/png/Categories/2.png" alt="Card image cap">
      <div class="card-body">
       
                
      <div class="card-footer">
        <small >  <h6 class="text-center"> plastic</h6></small>
      </div>
    </div>
  </div>
      <div class="card">
        <img class="card-img-top align" src="../../assets/png/Categories/3.png" alt="Card image cap">
        <div class="card-body">
          
                  
        <div class="card-footer">
          <small class="text-muted">Glass</small>
        </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top align" src="../../assets/png/Categories/4.png" alt="Card image cap">
      <div class="card-body">
       
                
      <div class="card-footer">
        <small class="text-muted">Iron</small>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top align" src="../../assets/png/Categories/5.png" alt="Card image cap">
    <div class="card-body">
      <div class="card-footer">
        <small class="text-muted">E-Waste</small>
      </div>
  </div>
</div>





    <!------>
   <!-- <div class="card align" style="width: 12rem;">
      <img class="card-img-top" src="../../assets/png/Categories/1.png" alt="Card image cap">
      <div class="card-body">
        <p>plastic</p>
      </div>
    </div>

    <div class="card  align" style="width: 12rem;">
      <img class="card-img-top" src="../../assets/png/Categories/2.png" alt="Card image cap">
      <div class="card-body">
        <p>plastic</p>
      </div>
    </div>

    <div class="card  align" style="width: 12rem;">
      <img class="card-img-top" src="../../assets/png/Categories/3.png" alt="Card image cap">
      <div class="card-body">
        <p>plastic</p>
      </div>

      <div class="card  align" style="width: 12rem;">
        <img class="card-img-top" src="../../assets/png/Categories/4.png" alt="Card image cap">
        <div class="card-body">
          <p>plastic</p>
        </div>
 
        <div class="card  align" style="width: 12rem;">
          <img class="card-img-top" src="../../assets/png/Categories/5.png" alt="Card image cap">
          <div class="card-body">
            <p>plastic</p>
          </div> -->
    


</div>