<div class="">

  <div class="container">
    <a routerLink="/landing"> <img src="../assets/images/Categories/logo1.png"></a>
    
 </div>
    <!-----Navigation Starts Here-->
  
    <nav class="navbar navbar-expand-sm navbar-light bg1">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item poi">
                <a class="nav-link" routerLink="/pricelist">Price List <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item  poi">
                  <a class="nav-link" routerLink="/myaccount" >My Account</a>
             </li>
               <li class="nav-item  poi">
                    <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i>{{cm}}</a>
               </li>
             <li class="nav-item  poi">
                <a class="nav-link" >Help</a>
           </li>
           <li class="nav-item  poi">
              <a class="nav-link" (click)="logout()" >Logout</a>
         </li>
           <li class="nav-item  poi">
                <a class="nav-link" ><i class="fas fa-phone"></i></a>
            </li>
        </ul>
      </div>
    </nav>
    <div class="text-center">
      <h3>Collections</h3>
    </div>



<div class="card-deck text-center align-items-center" style="padding:50px;" >
  <div *ngFor="let item of categories"class="card" (click)="subcol(item[0])">
    <img class="card-img-top img-responsive" height="200px" width="200px" src="{{item[1]}}" alt="Card image cap">
     <div class="card-body">
     <h5 class="text-center">{{item[0]}}</h5>
     </div>
  </div>

</div>